@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  border: 0;
  margin: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: "Maven Pro", sans-serif;
  /* border: red 1px solid; */
}

body{ background-color: #FAF8F3;}